

.header{
    background-color: #fff;
    height: 80px;
    position: relative;
}

.header-container{
    margin: 0 24px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar__mobile-menu-toggle{
    display: none;
    height: 100%;
    padding: 0 12px;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
} 

.navbar__mobile-menu-toggle i{
    line-height: 80px;
}

.header__navbar{
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar__logo{
    display: none;
}

.navbar__logo svg{
    height: 100%;
    margin-right: 16px;
}

.navbar__list{
    display: none;
    list-style-type: none;
}

.navbar__item{
    padding: 20px 16px;
    position: relative;
}

.navbar__item .navbar__item-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
}

.header__actions{
    height: 100%;
}

.header__actions-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: inherit;
    margin: 0;
    padding: 0;
}

.actions__item{
    display: none;
    cursor: pointer;
    margin-left: 6px;
}

.actions__item i{
    position: relative;
    top: 2px;
    font-size: 1.8rem;
    line-height: 40px;
    padding:0 6px;
    color: var(--text-color);
}

.actions__item a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.actions__item.btn--m.active{
    border-radius: 10px;
    background-color: var(--primary-color);
}

.actions__item.btn--m.active:hover{
    background-color: #f082ac;
}

.actions__item.btn--m.active a{
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
}

/* -------Navbar__hover-menu-------- */
.navbar__hover-menu{
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    transition: visibillity 0.1s linear, opacity 0.15s linear;
    opacity: 0;
    width: 600px;
    top: 100%;
    left: -20px;
    height: fit-content;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 10px 70px rgb(0 0 0 / 15%); */
}

.navbar__hover-menu.navbar__hover-menu--minsize{
    width: 400px;
}
.navbar__item:hover .navbar__hover-menu{
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
.navbar__dropdown-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar__dropdown-list.navbar__dropdown--white-bg{
    background-color: #fff;
    display: block;
    width: 400px;
    height: 100%;
    padding: 16px 40px;
}

.dropdown__item{
    margin: 0;
    width: 100%;
}

.navbar__item:hover::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 25px;
    left: 100%;
    z-index: 1;
}
.navbar__item:hover::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 25px;
    z-index: 1;
}

.dropdown__item.purple .dropdown__item-link:hover .dropdown__item__icon-left{
    background-color: var(--purple-color-opa);
}

.dropdown__item.red .dropdown__item-link:hover .dropdown__item__icon-left{
    background-color: var(--red-color-opa);
}

.dropdown__item.green .dropdown__item-link:hover .dropdown__item__icon-left{
    background-color: var(--green-color-opa);
}

.dropdown__item.yellow .dropdown__item-link:hover .dropdown__item__icon-left{
    background-color: var(--yellow-color-opa);
}

.dropdown__item-link{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    padding: 15px 0;
}

.dropdown__item-link .dropdown__item__icon-left{
    margin-right: 16px;
    height: 40px;
    width: 40px;
    background-color: #f8f8f8;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.2s ease;
}

.dropdown__item-link .dropdown__item__icon-left i{
    font-size: 2.4rem;
    line-height: 40px;
}

.dropdown__item.purple .dropdown__item__icon-left i{
    color: var(--purple-color); 
}

.dropdown__item.red .dropdown__item__icon-left i{
    color: var(--red-color); 
}

.dropdown__item.green .dropdown__item__icon-left i{
    color: var(--green-color); 
}

.dropdown__item.yellow .dropdown__item__icon-left i{
    color: var(--yellow-color); 
}

.dropdown__item__text p{
    margin: 0;
}

.dropdown__item__text{
    flex: 1;
}

.dropdown__item__text .dropdown__item__text-title{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-color);
}

.dropdown__item__text .dropdown__item__text-desc{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 4px;
}


.dropdown__item__icon-right{
    height: 100%;
    font-size: 1.4rem;
    font-weight: 300;
    position: relative;
    transform: scale(0);
    opacity: 0;
    transform-origin: 0 50%;
    transition: all 0.2s linear;
}

.dropdown__item.purple .dropdown__item__icon-right{
    color: var(--purple-color);
}

.dropdown__item.red .dropdown__item__icon-right{
    color: var(--red-color);
}

.dropdown__item.green .dropdown__item__icon-right{
    color: var(--green-color);
}

.dropdown__item.yellow .dropdown__item__icon-right{
    color: var(--yellow-color);
}

.dropdown__item-link:hover .dropdown__item__icon-right{
    transform: scale(1);
    opacity: 1;
}


.navbar__dropdown-list--right{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f8f8f8;
    padding: 20px 36px;
    margin: 0;
    list-style: none  ;
}

.navbar__dropdown-list--right .heading{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    padding: 9px 0;
}

.navbar__dropdown-list--right .dropdown-list--right__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    padding: 9px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dropdown-list--right__item:hover .dropdown-list--right__link{
    color: var(--black-color);
}

/* -------------Header Mobile Meunu ----------- */
.header-mobile-menu{
    position: relative;
    width: 100%;
    z-index: 9;
    overflow-y: scroll;
    height: calc(100vh - 80px);
    padding: 23px;
    opacity: 1;
    transition: visibility 0.2s linear, opacity 0.2s linear;
    background-color: #fff;
}

.header-mobile-menu.hidden{
    visibility: hidden;
    opacity: 0;
}

.mobile-menu__search{
    position: relative;
    margin-bottom: 12px;
}

.mobile-menu__search-icon{
    position: absolute;
    font-size: 1.6rem;
    color: var(--text-color);
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    text-align: center;
}

.mobile-menu__input{

    width: 100%;
    border: none;
    outline: none;
    padding: 12px 32px;
    font-size: 1.6rem;
    color: var(--black-color);
    background-color: #f3f3f4;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile-menu__input:focus{
    background-color: #fff;
    border: 1px solid var(--red-color);
    outline: var(--red-color-opa) solid 8px;

}

.mobile-menu__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-menu__item input{
    display: none;
}


.mobile-menu__item-label{
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 12px 0;
    position: relative;
}

.mobile-menu__item-icon{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-menu__item-icon i{
    font-size: 1.4rem;
    color: var(--black-color);
    transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.mobile-menu__item input:checked ~ label .mobile-menu__item-icon i{
    transform: rotate(180deg);
}

.mobile-menu__item-label::after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    background-image: url();
}

.mobile-dropdown-list{
    margin: 0; padding: 0;
    list-style-type: none;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s linear;
}

.mobile-menu__item input:checked ~ .mobile-dropdown-list{
    max-height: 600px;

}

.mobile-dropdown-list-container{
    margin: 15px 0;
    padding-left: 32px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-dropdown-list-container li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 0;
    cursor: pointer;
    display: block
}


/* ------------Hero--------- */

.hero{
    height: 560px;
}

.hero-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    max-width: 100%;
    overflow: hidden;
    height: inherit;
}

.hero__categories{
    margin-bottom: 20px;
    width: 100%;
    position: relative;

}

.hero__categories-list{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 12px;
    list-style-type: none;
   
}


.categories__link{
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 16px 20px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    margin: 0 10px;
    transition: all .3s linear;
}

.categories__item:hover .categories__link{
    color: #000;
    cursor: pointer;
    background-color: #fff;
}

.categories__item.current .categories__link{
    background-color:#fff ;
    color: #000;
}


.hero__media{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    align-items: center;
    justify-content: center;
    filter: brightness(0.4);
    opacity: 1;
}


.hero__media video{
    width: 120vw;
}


.hero__text-content{
    max-width: 624px;
}

.hero__text-title{
    margin: 0 62px;
    font-size: 3.2rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.hero__text-desc{
    margin: 16px 0;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #fff;  
    text-align: center;
    font-weight: lighter;
}

.hero__search-container{
    width: 100%;
    max-width: 600px;
    position: relative;
    
}

.hero__search-form i{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: var(--text-color);
    cursor: pointer;
}

.hero__search-input{
    padding: 20px 45px 20px 55px;
    border: none;
    font-size: 1.6rem;
    color: var(--text-color);
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
}

.hero__search-input:focus{
    outline: var(--red-color-opa) solid 6px;
}

.hero__search-suggestions{
    margin: 15px 0 30px 0;
}

.hero__search-suggestions-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero__search-suggestions-label{
    font-size: 1.2rem;
    color: #fff;
    line-height: 40px;
    margin-right: 12px;
}

.hero__search-suggestions-item{
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    height: 40px;
    
}

.hero__search-suggestions-link{
    font-size: 1.2rem;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 50px;
    padding: 6px 15px;
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    height: fit-content;
}

.hero__search-suggestions-link:hover{
    border-color: #fff;
}

.hero-attribution{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.hero-attribution a{
    font-size: 1.6rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero-attribution a:hover{
    color: #fff;
}


/* ----------Product Filter----------- */

.product-container{
    margin: 32px 72px;
}
.product__filter-subnav{
    display: flex;
    justify-content: space-between;
}



.filter-view, .filter-settings{
    position: relative;
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 1.3rem;
    padding-right: 40px;
    padding-left: 16px;
    border: 1px solid rgba(0,0,0,0.5);
    cursor: pointer;
}

.filter-view{
    margin-right: 40px;
}


.filter-view i{
    position: absolute;
    line-height: 40px;
    right: 12px;
    color: var(--text-color);   
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.filter-view.close i{
    transform: rotate(-180deg);
}
.filter-view.close{
    color: var(--text-color);
}

.filter-view.open{
    color: var(--black-color);
    border: 4px solid var(--red-color-opa);
}

.filter-dropdown-lists{
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 12px);
    width: 180px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 4%);
    list-style-type: none;
    margin: 0;
    padding: 12px 0;
    border: 1px solid rgba(0,0,0,0.05);
    z-index: 9;
}

.filter-view.close .filter-dropdown-lists{
    display: none;
}

.filter-dropdown-item:hover{
background-color: #ddd;
}

.filter-dropdown-item.current .filter-dropdown-link{
    color: var(--primary-color);
    font-weight: 500;
}

.filter-dropdown-link{
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 8px 15px;
}

.filter-dropdown-link:nth-child(2){
    border-bottom: 1px solid #ccc;
}

.filter-settings{
    background-color: #f3f3f4;
    color: #000;
    padding: 0 16px;
    border: 2px solid #f3f3f4;
    transition: all 0.1 s linear;
}

.filter-settings:hover{
    background-color: transparent;
}

.filter-settings i{
    margin-right: 8px;
}

.product__filter-shot{
    margin-top: 32px;
}


.product__filter-shot.hidden .product__filter-form{
    max-height: 0;
    overflow: hidden;
    /* visibility: hidden;
    opacity: 0; */
}

.product__filter-form{
    max-height: fit-content;
    transition: max-height 0.2s ease-in-out;
}

.product__filter-form-item{
    margin-bottom: 12px;
}

.product__filter-form-item-wrapper{
    position: relative;
}

.find-shot__title{
    display: block;
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: var(--black-color);
    font-weight: 500;
}

.find-shot__clear{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 4px;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.find-shot__clear.appear{
    display: block;
} 

.find-shot__input{
    position: relative;
}

.find-shot__input i, .find-shot__input svg{
    position: absolute;
    font-size: 1.6rem;
    color: #9e9ea7;
    top: 50%; 
    transform: translateY(-50%);
    left: 18px;
}

.find-shot__input svg{
    display: block;
    width: 16px;
    height: 16px;
}

.find-shot__input input{
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    color: var(--black-color);
    background-color: #f3f3f4;
    border-radius: 10px;
    padding: 10px 16px 10px 42px;
    transition: all 0.2s ease;
    outline: transparent solid 4px;
}

.find-shot__input:hover input{
    background-color: #fff;
    outline-color: var(--red-color-opa);
    border-color: rgba(0,0,0,0.1);
}

.find-shot__input input:focus{
    border-color: rgba(234,76,137,0.4);
}

.find-shot__input-dropdown-click{
    position: relative;
}

.find-shot__input-dropdown-click:hover .input-dropdown-click__link{
    outline-color: var(--red-color-opa);
    border-color: transparent;
}

.input-dropdown-click__link{
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    outline: transparent solid 5px;
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0 15px;
}


.input-dropdown-click__link span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.input-dropdown-click__link i{
    font-size: 1.2rem;
    color: #aaa;
    position: relative;
    transform: rotate(180deg);
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.find-shot__input-dropdown-click.hidden .input-dropdown-click__link i{
    transform: rotate(0);
}

.input-dropdown-click__options{
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 99;
    top: calc(100% + 12px);
    width: 100%;
    list-style-type: none;
    padding: 8px 0;
    margin: 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 4%);
    border: 1px solid rgba(0,0,0,0.05);
    transition: visibility 0.2s ease, opacity 0.1s ease;
}

.find-shot__input-dropdown-click.hidden .input-dropdown-click__options{
    visibility: hidden;
    opacity: 0;
}

.input-dropdown-click__item{
    padding: 8px 15px;
    background-color: #fff;
    font-size: 1.4rem;
    color: #6e6d7a;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.input-dropdown-click__item svg{
    margin-right: 4px;
}
.input-dropdown-click__item:hover{
    background-color: #e7e7e9;
}

.current.input-dropdown-click__item{
    color: var(--primary-color);
    font-weight: 500;
}



/* ------ProductItem------------ */

.product-wrapper{
    padding-top: 32px;
}

.product-item{
    margin-bottom: 36px;
}

.product-item__img{
    border-radius: 8px;
    overflow: hidden ;
    position: relative;
}

.product-item__img figure{
    display: block;
    margin: 0;
    height: 230px;
}

.product-item__img figure img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.product-item__link{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.product-item__overlay{
    display: block;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    transition: opacity 0.3s ease;
    opacity: 0;
    background: linear-gradient(180deg, transparent 62%, rgba(0,0,0,0.00345888) 63.94%, rgba(0,0,0,0.014204) 65.89%, rgba(0,0,0,0.0326639) 67.83%, rgba(0,0,0,0.0589645) 69.78%, rgba(0,0,0,0.0927099) 71.72%, rgba(0,0,0,0.132754) 73.67%, rgba(0,0,0,0.177076) 75.61%, rgba(0,0,0,0.222924) 77.56%, rgba(0,0,0,0.267246) 79.5%, rgba(0,0,0,0.30729) 81.44%, rgba(0,0,0,0.341035) 83.39%, rgba(0,0,0,0.367336) 85.33%, rgba(0,0,0,0.385796) 87.28%, rgba(0,0,0,0.396541) 89.22%, rgba(0,0,0,0.4) 91.17%);
}

.product-item__overlay:hover{
    opacity: 1;
}

.overlay__content{
    display: flex;
    width: 100%;
    height: 34px;
    justify-content: space-between;
}

.overlay__content__title{
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 34px;
}

.overlay__content__actions{
    display: flex;
}

.overlay__content__actions i{
    display: inline-block;
    height: 34px;
    width: 34px;
    border-radius: 8px;
    font-size: 1.6rem;
    color: #6e6d7a;
    line-height: 34px;
    text-align: center;
    background-color: #f3f3f4;
    margin-left: 12px;
    transition: background-color 200ms ease;
}

.overlay__content__actions i:hover{
    background-color: #e7e7e9;
}


.product-item__details{
    margin: 8px 0 0 0;
    height: 24px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.product-item__details__info{
    display: flex;
    align-items: center;
}

.product__brand{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.product__brand img{
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.brand-name{
    font-size: 1.4rem;
    font-weight: 600;
    color: #0d0c22;
    margin-left: 8px;
}

.product__rule{
    text-decoration: none;
    display: inline-block;
}

.product__rule span{
    padding: 2px 3px;
    border-radius: 3px;
    background-color: #ccc;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 8px;
    transition: background-color 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.product__rule:hover span{
    background-color: var(--primary-color);
}

.product-item__details__rate{
    display: inline-flex;

}

.product-item__details__rate{
    font-size: 1.2rem;
}

.details__rate__like:hover i, .details__rate__view:hover i{
    color: var(--primary-color)
}

.details__rate__view{
    margin-left: 8px;
}

.product-item__details__rate i{
    color: #9e9ea7;
    transition: color 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.product-item__details__rate span{
    color: #3d3d4e;
}

