@media only screen and (min-width: 320px)
    and (max-width: 919px){
        .navbar__mobile-menu-toggle.mobile-only, .actions__item.mobile-only, .navbar__logo.mobile-only{
            display: block;
        }

        .navbar__mobile-menu-toggle.mobile-only{
            padding: 0;
        }

        .navbar__mobile-menu-toggle.mobile-only i.hidden{
            display: none;
        }

        body.navbar-open-scroll{
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
        
        .header{
            position: fixed;
            top: 0;
            left:0;
            width: 100%;
            border-bottom: 1px solid #ccc;
            z-index: 9;
        }

        .product-container__footer{
            flex-direction: column;
            align-items: center;
        }

        .navbar__logo.mobile-only svg{ 
            margin: 0;
        }

        .actions__item.mobile-only{
            margin: 0;
            padding-left: 0;
            padding-right: 0;
        }

        /* ---------Hero------- */
        .hero{
            margin-top: 80px;
            height: calc(100vh - 100px);
        }

        .hero-wrap{
            padding: 50px 12px;
        }

        .hero__categories{
            width: 100%;
            position: relative;
            overflow: hidden;
            height: 48px;
        }

        .hero__categories-list{
            flex-wrap: nowrap;
            justify-content: flex-start;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            scroll-behavior: smooth;
            text-align: center;
            font-size: 1.4rem;
            padding-top: 3px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .categories__item{
            padding-bottom: 5px;
        }

        .categories__link{
            margin: 0 3px;
            padding: 8px 12px;
        }

        .hero__media{
            filter: brightness(0.6);
        }
        .hero__media video{
            width: 400vw;
        }

        .hero__text-content{
            max-width: 500px;
        }
        
        .hero__text-title{
            margin: 0;
            font-size: 2.4rem;
            color: #fff;
            font-weight: 600;
        }

        .hero__text-desc{
            font-weight: 400;
            font-size: 1.4srem;
        }

        .hero__search-input{
            padding: 20px 46px;
        }

        /* ------------Product Filter---------- */
        .grid__column-3.product__filter-form-item{
            width: 100%;
            margin-bottom: 20px;
        }

        .product-container{
            margin: 16px 20px;
        }

        .footer-container{
            padding: 32px;
        }

        .footer-links-wrapper{
            margin-top: 32px;
        }

        .footer__lower-container{
            flex-direction: column;
        }

        .footer__lower__logo{
            display: block;  
            padding: 12px 0;
        }

        .footer__lower{
            padding: 0 32px;
        }

        .footer__lower__logo i{
            font-size: 3rem;
            color: var(--primary-color);
            justify-content: flex-start;
            font-weight: 600;
        }

        .total-shot-container i{
            display: none;
        }

    }
@media all and (max-width: 739px){
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px;
    }

    .col{
        padding: 0 4px
    }

    .c-1{
        flex: 0 0 calc(100% / 12);
        max-width: calc(100% / 12);
    }
    .c-12{
        flex: 0 0 calc(100%);
        max-width: calc(100%);
    }
}


@media all and (min-width: 740px) and (max-width: 919px){
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
    }

    .col{
        padding: 0 8px
    }

    .m-4{
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }

    .m-12{
        flex: 0 0 calc(100%);
        max-width: calc(100%);
    }
    .m-6{
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }
}


@media only screen and (min-width: 920px){
        .navbar__list.desktop-only, .actions__item.desktop-only, .navbar__logo.desktop-only{
            display: flex;
        }

        .header-mobile-menu{
            display: none;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -18px;
        }
    
        .col{
            padding: 0 18px
        }
    
        .l-3{
            flex: 0 0 calc(100% / 4);
            max-width: calc(100% / 4);
        }
    }